<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Spring Form -->
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
	<style>
        .pure-control-group > div {
            margin-bottom: 15px;
        }
        .pure-control-group label {
            display: inline-block;
            width: 70px;
            text-align: right;
            margin-right: 10px;
        }
        .element-margin {
            margin-right: 10px;
        }
        .pure-input-1-2 {
            width: 50%;
        }
        .error {
            color: red;
            font-size: 0.8em;
            margin-left: 80px;
        }
        /* 新增的樣式 */
        .options-group {
            display: inline-block;
            margin-left: 5px;
        }
        .option-item {
            display: inline-block;
            margin-right: 15px;
        }
        .option-item input[type="radio"],
        .option-item input[type="checkbox"] {
            margin-right: 5px;
        }
        .option-item label {
            width: auto;
            margin-right: 5px;
        }
    </style>
	<title>User Form</title>
</head>

<body style="padding: 15px"> <!-- 留白之美 -->
	<!-- 左(User Form)-右(User List) -->
	<table>
		<tr>
			<td valign="top" style="padding: 6px">
				<!-- User Form -->
                <form class="pure-form" method="post" 
                      th:action="${index != null} ? @{/user/{id}(id=${index})} : @{/user/}"
                      th:object="${user}">
                    <fieldset>
                        <legend>User Form</legend>
                        <div class="pure-control-group">
                            <div>
                                <label>姓名:</label>
                                <input type="text" th:field="*{name}" class="pure-input-1-2" />
                            </div>
                            
                            <div>
                                <label>年齡:</label>
                                <input type="number" th:field="*{age}" class="pure-input-1-2" />
                            </div>
                            
                            <div>
                                <label>生日:</label>
                                <input type="date" th:field="*{birth}" class="pure-input-1-2" />
                            </div>
                            
                            <div>
                                <label>學歷:</label>
                                <select th:field="*{education}" class="pure-input-1-2">
                                    <option value="">請選擇</option>
                                    <option th:each="edu : ${dataMap.educationData}"
                                            th:value="${edu.id}"
                                            th:text="${edu.name}">
                                    </option>
                                </select>
                            </div>
                            
                            <div>
                                <label>性別:</label>
                                <div th:each="gender : ${dataMap.sexData}" class="option-item">
                                    <input type="radio" th:field="*{sex}" th:value="${gender}" />
                                    <label th:text="${gender}" ></label>
                                </div>
                            </div>
                            
                            <div>
                                <label>興趣:</label>
                                <div th:each="hobby : ${dataMap.interestData}" class="option-item">
                                    <input type="checkbox" th:field="*{interest}" th:value="${hobby}" />
                                    <label th:text="${hobby}" ></label>
                                </div>
                            </div>
                            
                            <div>
                                <label>履歷:</label>
                                <textarea th:field="*{resume}" class="pure-input-1-2"></textarea>
                            </div>
                        </div>
			            
						<!-- 自訂表單元素 --> 
						<input type="hidden" name="_method" id="_method" th:value="${ _method }"> <!-- model.addAttribute("_method", "POST"); -->
						<button type="submit" class="pure-button pure-button-primary"
						        th:text="${submitButtonName}">submit</button><!-- model.addAttribute("submitButtonName", "新增"); --> 
					</fieldset>
				</sf:form>
			</td>
			<td valign="top" style="padding: 6px"> <!-- 垂直對齊 -->
				<!-- User List -->
				<form class="pure-form">
					<fieldset>
						<legend>User List</legend>
							<table class="pure-table pure-table-bordered">
								<thead>
									<tr>
				                        <th class="no-wrap">序號</th>
				                        <th class="no-wrap">姓名</th>
				                        <th class="no-wrap">年齡</th>
				                        <th class="no-wrap">生日</th>
				                        <th class="no-wrap">學歷</th>
				                        <th class="no-wrap">性別</th>
				                        <th class="no-wrap">興趣</th>
				                        <th class="no-wrap">履歷</th>
				                        <th class="no-wrap">編輯</th>
				                        <th class="no-wrap">刪除</th>
                    				</tr>
								</thead>
								<tbody>
									<tr th:each="user, status : ${users}">
										<td class="no-wrap" th:text="${status.index}"></td>
                        				<td class="no-wrap" th:text="${user.name}"></td>
                        				<td class="no-wrap" th:text="${user.age}"></td>
                        				<td class="no-wrap" th:text="${#dates.format(user.birth, 'yyyy-MM-dd')}"></td>
                        				
                        				<td class="no-wrap">
	                            			<!-- 學歷名稱顯示 -->
	                            			<span th:each="edu : ${dataMap.educationData}"
	                                  			  th:if="${user.education == edu.id}"
	                                              th:text="${edu.name}">
	                            			</span>
                        				</td>
                        				
                        				<td class="no-wrap" th:text="${user.sex}"></td>
                        				
				                        <td class="no-wrap">
				                            <!-- 興趣陣列用空格連接 -->
				                            <span th:text="${#strings.arrayJoin(user.interest, ' ')}"></span>
				                        </td>
				                        
                        				<td class="no-wrap" th:text="${user.resume}"></td>
                        				
										<td class="no-wrap">
				                            <!-- 編輯按鈕 -->
				                            <button type="button"
				                                    class="pure-button"
				                                    th:onclick="'window.location.href=\'' + @{/user/{id}(id=${status.index})} + '\''">
				                                編輯
				                            </button>
                        				</td>
										<td>
											<a th:href="@{/user/{id}(id=${status.index}, action='delete')}" 
           					   			       class="pure-button pure-button-primary">刪除</a>
										</td>
									</tr>
								</tbody>
							</table>
					</fieldset>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>